
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); 


@property --G_angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
 box-sizing: border-box;
 color-scheme: dark;
 scroll-snap-type: y proximity;
}
html::-webkit-scrollbar{
    display: none;
}
body::selection{
    background-color: rgb(0 245 211);
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
body{
  
    background-color: rgb(27, 27, 27);
}
button{
    border: none;
    color: black;
    background-color: aliceblue;
}

.Design{
    width: 20px;
    height: 575vh;
    position: absolute;
    z-index: -100;
    left: 20px;

    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 80%;
    top: -100px;
    animation: uptodown 5s linear infinite 2s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 20%;
    top: -100px;
    animation: uptodown 5s linear infinite 3s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 50%;
    top: -100px;
    animation: uptodown 5s linear infinite;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 25%;
    top: -100px;
    animation: uptodown 5s linear infinite 1s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design6{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 75%;
    top: -100px;
    animation: uptodown 5s linear infinite 5s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design7{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 95%;
    top: -100px;
    animation: uptodown 5s linear infinite 3s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
.Design8{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: 5%;
    top: -100px;
    animation: uptodown 5s linear infinite 7s;
    background-image: linear-gradient(rgb(0 245 211),rgb(255, 141, 141),rgb(177, 81, 255),rgb(103, 103, 255));
}
@keyframes uptodown {
    0%{
        top: -100px;
        opacity: 1;
        filter: blur(10px);
       
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}
navbar{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 50px;
}
navbar i{
    color: aliceblue;
    font-size: 35px;
    border-radius: 10px;
    transition: all ease 300ms;
}
navbar:hover i:not(:hover){
    filter: blur(10px);
 color: transparent;
 text-shadow: 0 0 5px rgb(255, 255, 255);
}
navbar i:hover{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    /* box-shadow: 2px 2px 15px rgb(197, 197, 197); */
    cursor: none;
    color: rgba(4, 243, 211);
    backdrop-filter: blur(100px);
}
.Home{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 136, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 100px;

}
.profile-image{
    background-color: rgba(109, 255, 206, 0);
    width: 30%;
    height:410px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
}
.profile-item1{
    width: 370px;
    height: 370px;
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    animation: rings infinite 5s linear alternate-reverse;
    
    filter: blur(10px);
}
.profile-item2{
    width: 380px;
    height: 380px;
    border: 3px solid rgb(133, 255, 129);
    position: absolute;
    border-radius: 40%;
    animation: rings infinite 7s linear alternate-reverse;
    animation: rings-rotation infinite 7s linear alternate;
    filter: blur(0px);
}
.profile-item3{
    width: 390px;
    height: 390px;
    border: 3px solid rgb(137, 228, 255);
    position: absolute;
    border-radius: 40%;
    animation: rings infinite 10s linear alternate;
    animation: rings-rotation infinite 10s linear ;
    filter: blur(0px);
}
.profile-item4{
    width: 400px;
    height: 400px;
    border: 3px solid rgb(255, 160, 160);
    position: absolute;
    border-radius: 40%;
    animation: rings infinite 7s linear alternate;
    animation: rings-rotation infinite 5s linear ;
    filter: blur(0px);
}


@keyframes rings-rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rings {
    
    0%{
        border-radius: 50%;

    }
    20%{
        border-radius: 40%;
    }
    40%{
        border-radius: 30%;
    }
    70%{
        border-radius: 40%;
    }
    100%{
        border-radius: 50%;
    }
}

.profile-text{
    height: 400px;
    width: 30%;
    background-color: rgba(250, 235, 215, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-text p{
    font-size: 50px;
    font-family: monospace;
}

.profile-text p:nth-child(1){
    font-size: 35px;
    font-family: sans-serif;
}
.profile-text p:nth-child(4){
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.profile-buttons{
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.profile-buttons button {
    font-size: 20px;
    font-weight: 200;
    transition: all 300ms linear;
    padding: 13px;
    background-color: hsla(0, 0%, 17%, 0.664);
    border: solid 1px hsl(0, 0%, 24%);
    color: whitesmoke;
    border-radius: 50px;

}
.profile-buttons button:hover {
    transform: scale(1.05);
    opacity: 1;
    z-index: 1;
    background-color: hsl(0, 0%, 24%);
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 2px 2px 10px hsl(230, 93%, 83%);
    transition: all 300ms linear;
}

#Developer{
    position: relative;
    color: antiquewhite;
    width: max-content;
    font-family: monospace;
}
#Developer::after,#Developer::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

#Developer::before{
background-color: rgb(27, 27, 27);
animation: text-rev 8s steps(21) 1s forwards;
}

#Developer::after{
    width: 0.5rem;
    background-color: aliceblue;
    border-radius: 3px;
    animation: text-rev 8s 1s steps(21) forwards, blink 700ms infinite;
}

@keyframes blink {
    
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes text-rev {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }

}
/*  Home and Navbar completed */

.aboutme{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    scroll-snap-align: start;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
        
}

.P1,.H1{
    display: block;
    width: 100%;
    text-align: center;
    height: max-content;
}
.P1{
    color: rgb(163, 163, 163);
}
.aboutme-content{
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0%;
    justify-content: space-evenly;
    align-items: center;
}
.aboutme-image-part{
    width: 30%;
    background-color: rgba(0, 255, 255, 0);
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#aboutme-image{
    width: 80%;
    border-radius: 20px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 15px rgb(185, 250, 255);
}
#aboutme-text{
    width: 75%;
    font-size: larger;
    height: auto;
    color: rgb(161, 255, 243);
}
.aboutme-experience-part{
    width: 60%;
    height: max-content;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.aboutme-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
.aboutme-card{
    border-radius: 20px;
    border: white 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    font-size: 20px;
    width: 40%;
    position: relative;
    
}
.aboutme-card > *:nth-child(1){
    font-size: 40px;
}
.aboutme-card > *:nth-child(2){
    font-size: 25px;
}
.aboutme-card > *:nth-child(3){
    font-size: 20px;
    color: gray;
}
.aboutme-card > *:nth-child(4){
    font-size: 20px;
    color: gray;
}
.aboutme-table{
    margin-top: 30px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border: 1px rgba(4, 243, 211) solid;
    text-align: center;
    padding: 0.5rem;
    border-radius: 20px;
    border-collapse: separate;
    width: 80%;
    border-spacing: 20px;
    background-color: rgba(83, 83, 83, 0.301);
    border-radius: 0px 0px 20px 20px;
}
th,td,caption{
    border: 1px rgba(4, 243, 211) solid;
    text-align: center;
    padding: 0.7rem;
    border-radius: 15px;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    
}
caption{
    background-color: rgba(4, 243, 211, 0.185);
    border-radius: 20px 20px 0px 0px;
}
th{
    border-radius: 10px;
    background-color: rgba(4, 243, 211, 0.514);
}
tr:nth-of-type(2n+1){
    background-color: rgba(4, 243, 211, 0.514);

}
td,th,.langs,#exp {
    transition: transform 0.3s ease-in-out; 
}
td:hover,th:hover {
    transform: scale(1.1);
    opacity: 1; 
    z-index: 1;

}
#exp::after,#exp::before,#edu::after,#edu::before{
    content: "";
  position: absolute;
  inset: 1px;
  z-index: -10;
  background-image: conic-gradient( 
  from var(--G_angle),  
  rgb(235, 154, 255), aqua );
  border-radius: inherit;
  filter: blur(2rem);
  animation: 4.2s rota ease infinite alternate-reverse;
  display: none;
    
  
}
@keyframes rota {
    from{
        --G_angle : 0deg;
    }
    to{
        --G_angle : 360deg;
    }
}
#exp:hover,#edu:hover{
    box-shadow: 2px 2px 5px hsl(209, 100%, 70%),
                -2px -2px 5px hsl(40, 100%, 86%),
                -2px 2px 5px hsl(40, 97%, 77%),
                2px -2px 5px hsl(40, 97%, 77%);
    transition: all 400ms ease-in-out;
    transform: scale(1.05);
    opacity: 1; 
    z-index: 1;
    cursor: none;
    background-color: rgba(0, 0, 0, 0.247);
    color: rgb(0, 0, 0);
}
#exp:hover::after,
#exp:hover::before,
#edu:hover::after,
#edu:hover::before {
    display: block;
}
@property --G_angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

/* About me styles complete */

.Experience{
    width: 100%;
    scroll-snap-align: start;
    padding-top: 20px;
    height: 100vh;
    background-color: rgba(179, 255, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.Experience-content{
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0%;
    justify-content: space-evenly;
    align-items: center;
}
.Experience-cards{
text-align: center;
    width: 35%;
    height: max-content;
    background-color: rgba(247, 210, 161, 0);
    border: 5px rgba(4, 243, 211) solid;
    border-radius: 20px;
    padding: 1%;
    background-color: rgba(83, 83, 83, 0.301);
}
.Experience-cards h2{
    font-size: 40px;
    border-bottom: 5px rgba(4, 243, 211) solid;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.E-card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.langs{
position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 40px 52px 20px 52px;
}
.langs i{
    font-size: 50px;
}
.langs p{
    font-style: italic;
    font-weight: 600;
    margin-top: 3px;
}
.eptest{
    display: none;
    position: absolute;
    z-index: 100;
    width: 190px;
    height: 120px;
    left: calc(100% - 30px);
    bottom: 100%;
    background-color: #3f3f3fd2;

    border: solid 1px rgb(255, 255, 255);
    border-radius: 13px 13px 10px 0px ;
    font-size: 15px;
    color: #ff8b89;
    transition: all 300ms ease-in-out !important;
    animation: Slide 0.7s ease 1;
    opacity: 1;
    box-shadow: 0px 3px 10px hsl(0, 0%, 100%);
    
 }
 .langs:hover .eptest{
 
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 300ms ease-in-out !important;
 }
 @keyframes Slide {
     from {
         transform: scaleX(0.1);
         transform-origin: left; 
         transform-style: preserve-3d;
     }
     to {
         transform: scaleX(1);
         transform-origin: left; 
     }
 }
 
 /* Experiences over */

 .projects{
    width: 100%;
    scroll-snap-align: start;
    height: 100vh;
    background-color: rgba(247, 0, 255, 0);
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
 }
 .projects-content{
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0%;
    justify-content: space-evenly;
    align-items: center;
 }
 .pro-img{
    width: 90%;
    height: auto;
    border-radius: 16px;
    cursor: pointer;
}
.pro-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid hsl(0, 0%, 28%);
    padding: 50px 20px 50px 20px;
    width: 25%;
    height: auto;
    position: relative;
    border-radius: 20px;
}
#pro-but{
    font-size: 20px;
    font-weight: 200;
    transition: all 300ms ease;
    padding: 15px;
    background-color: hsla(0, 0%, 100%, 0.205);
    
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.568);
    color: rgb(0, 0, 0);
    
}
#pro-p{
    font-size: 30px;
    margin: 20px;
}
#pro-but:hover{
    background-color:hsl(0, 0%, 31%) ;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: 2px 2px 10px hsl(230, 93%, 83%);
    transition: all 300ms ease;
    transform: scale(1.1);
}
#p1{
    background-color:hsl(30.21deg 95.56% 71.54% / 59%);
    border: #ffe260 solid 10px;
  }
  #p2{
    background-color: hsla(191, 100%, 63%, 0.699);
    border: #88ddff solid 10px;
    position: relative;
    
  }
  #p3{
    background-color: rgba(138, 17, 4, 0.555);
    border: #750000 solid 10px;
  }
  .pop-up{
    width: 100%;
    height: 100%;
    border: black 2px solid;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #2c2c2cef;
    opacity: 1;
    display: none;
    flex-direction: column;
    border-radius: 20px;
    overflow: scroll;
    
    justify-content: space-around;
    user-select: none;
    cursor: pointer;
}
.pop-up::-webkit-scrollbar {
    display: none;
}
.pop-up:focus{
    transform: scale(1.1);
    transition: all 800ms ease;
  
}
.pop-up div{
    font-size: 35px;
    color: rgb(0 245 211);
    margin: 10px;
display: flex;
gap: 10px;

}

@keyframes Fade_Top {
    from{
       transform: scale(0);
       transform-origin: top left;
    }
    to{
        transform: scale(1);
    }
}
@keyframes Fade_Down {
    from{
       transform: scale(1);
       
    }
    to{
        transform: scale(0);
        transform-origin: top left;
        
    }
}
.vi{
    position: fixed;
    z-index: 100;
    background-color: rgba(58, 58, 58, 0.747);
    width: 100%;
    height: 100vh;
    top: 20px;
    left: 0px;
    display: none;
}
.vi i {

    float: right;
    display: inline;
    margin-right: 10px;
    font-size: 50px;
    margin-left: 100%;
    color: aliceblue;
    font-weight: 10px;
    cursor: pointer;
}

.vi video{
    height: 90vh;
    width: 100%;
   display: inline;
 
    border-radius: 15px;
}

#firstsection{
padding-bottom: 32rem;
}

.contact{
    width: 100%;
    padding-top: 20px;
    height: 100vh;
    scroll-snap-align: start;
    background-color: rgba(255, 0, 106, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
 }

 .contact-content{
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0%;
    justify-content: center;
    align-items: center;
 }
 #form{
    width: 90%;
    background-color: #75000000;
    height: 90%;
    border: rgb(0 245 211) 5px solid;
    border-radius: 20px;
    padding: 30px;
 }
 .content-items{
    width: 100%;
    height: max-content;
    background-color: #88ddff00;
    margin-bottom: 20px;
 }
.text{
    width: 30%;
    height: 0rem;
    border-radius: 20px;
    padding: 20px;
    border: rgb(0 245 211) 3px solid ;
    color: rgb(0 245 211);
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
    background-color: transparent;
}
label{
    font-family: monospace;
    font-size: 25px;
}
#subject{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: transparent;
    color: rgb(0 245 211);
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
 
}
.content-items1{
    height: 65%;
    margin-bottom: 20px;
}
#submit{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    border: 2px solid rgb(0 245 211);
    background-color: transparent;
    color: rgb(0 245 211);
    border-radius: 50px;
    transition: 300ms ease;
}
#submit:hover{
background-color: rgb(65, 65, 65);
cursor: pointer;

}
.one{
    display: flex;
    gap: 3%;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.link1{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    transition: all 300ms ease;
}
.link1:hover{
    transition: all 300ms ease;
    opacity: 0.5;
    text-decoration: underline;
    text-underline-offset: 1rem;
    cursor: pointer;
}
